<div ng-controller="HomeController as vm" ng-init="vm.init()">

    <div class="container" ng-if="vm.erro">
        <alert-user msg="'A conexão com o bando de dados falhou'" tipo="'error'"></alert-user>
      </div>

    <h1 id="h1T" ng-model="vm.teste">{{vm.teste}}</h1>

    <label for="exampleDataList" class="form-label">Buscar Cliente</label>
    <input class="form-control" list="datalistOptions" ng-model="vm.filtroPesquisa" id="exampleDataList" placeholder="Nome do cliente">

    <table class="table" ng-if="vm.clientes">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cliente in vm.clientes | filter : vm.filtroPesquisa">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.rg}}</td>
            <td style="width:20%">
                <button type="button" class="btn btn-outline-warning" ng-click="vm.editar(cliente.id)">
                    Editar
                </button>
            </td>
            <td style="width:20%">
                <button type="button" class="btn btn-outline-danger" ng-click="vm.excluir(cliente.id)">
                    Excluir
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>